.singleCourse {
    flex: 9;
  margin-left: 200px;
  }
  
  .singleCourseWrapper {
    padding: 20px;
    padding-right: 0;
  }
  
  .singleCourseImg {
    width: 100%;
    height: 300px;
    border-radius: 5px;
    object-fit: cover;
  }
  
  .singleCourseTitle {
    text-align: center;
    margin: 10px;
    font-size: 28px;
    font-family: "Lora", sans-serif;
  }
  
  .singleCourseEdit {
    float: right;
    font-size: 16px;
  }
  
  .singleCourseIcon {
    margin-left: 10px;
    cursor: pointer;
  }
  
  .singleCourseIcon:first-child {
    color: teal;
  }
  .singlCourseIcon:last-child {
    color: tomato;
  }
  
  .singleCourseInfo {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    color: #be9656;
    font-family: "Varela Round", Arial, Helvetica, sans-serif;
  }
  
  .singleCourseAuthor{
    margin-left: 5px;
  }
  
  .singleCourseDesc {
    color: #666;
    font-size: 18px;
    line-height: 25px;
  }
  
  .singleCourseDesc::first-letter {
    margin-left: 20px;
    font-size: 30px;
    font-weight: 600;
  }
  